# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

# Output folders
dist/
build/
coverage/

# PM2 logs & dumps
.pids/
*.pid
*.pid.lock
pm2.log
pids/
logs/

# VSCode settings (ixtiyoriy)
.vscode/